body {
    color: #ffffffaa;
    background-size: 100%;
}

#div_main {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 300px;
    height: 150px;
    transform: translate(-50%);
}

input {
    backdrop-filter: blur(5px);
    color: white;
    background-color: #00000044;
    border-radius: 10px;
    border: 1px solid #00000044;
    width: 240px;
    height: 30px;
    outline: none;
}

button {
    backdrop-filter: blur(5px);
    cursor: pointer;
    color: #000000aa;
    background-color: #00000044;
    border-radius: 10px;
    border: 1px solid #00000044;
    width: 26px;
    height: 26px;
    transition: all 100ms;
}

button:hover {
    background-color: #00ff0088;
    box-shadow: 0 0 5px #00ff00aa;
    color: #007700
}

button:active {
    background-color: #00ff00aa;
    box-shadow: 0 0 5px #00ff00;
    color: #009900
}

table {
    padding: 15px;
    margin-top: 15px;
    font-size: 17px;
    text-shadow: none;
    color: black;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: left;
    border: none;
    width: 80%;
    border-collapse: collapse;
    transition: all 0.3s;
}

td {
    text-align: center;
    border-top: 1px solid black;
}

.time {
    border-right: 1px solid black;
    width: 40%;
}

.room {
    border-left: 1px solid black;
}